img{
      width: 200px;
    border-radius: 50%;
}
div {
    text-align: center;
}
button{
    background-color: black;
    color: white;
    border-radius: 10px;
}
h1{
    font-size: 80px;
}
body{
      background-color: lightgrey;
}
.tel{
      font-size: 30px;
    text-align: center;
}
button:hover{
    -webkit-box-shadow: 5px 5px 15px 5px #fb2525;
    box-shadow: 5px 5px 15px 5px #fb2525;;
}
img:hover{
    -webkit-box-shadow: 5px 5px 15px 5px black;
    box-shadow: 5px 5px 15px 5px black;;
}